<br>

<br>

In [3]:
import numpy as np
import pandas as pd

import matplotlib.pyplot as plt 
import seaborn as sns

import scipy.stats as stats

from sklearn.model_selection import train_test_split, GridSearchCV, cross_validate
from sklearn.linear_model import LinearRegression, Ridge, RidgeCV, Lasso, LassoCV, ElasticNet, ElasticNetCV
from sklearn.preprocessing import MinMaxScaler
from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score

from yellowbrick.regressor import PredictionError, ResidualsPlot
from yellowbrick.model_selection import FeatureImportances
from yellowbrick.features import RadViz

plt.rcParams["figure.figsize"] = (9,5)
import warnings
warnings.filterwarnings('ignore')
pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)
pd.set_option('display.width', 1000)

# Stroke Prediction

<br>

In [4]:
df = pd.read_csv('healthcare-dataset-stroke-data.csv')

In [10]:
df.sample(5)

         id  gender   age  hypertension  heart_disease ever_married      work_type Residence_type  avg_glucose_level   bmi   smoking_status  stroke
4744    163  Female  20.0             0              0           No        Private          Rural              94.67  28.8          Unknown       0
1494   7586    Male  24.0             0              0           No  Self-employed          Rural             111.33  29.6  formerly smoked       0
4495  30734    Male  15.0             0              0           No       children          Rural              94.24  30.2          Unknown       0
881   49928  Female  59.0             0              0          Yes       Govt_job          Rural             111.99  35.5  formerly smoked       0
3286   3984  Female  33.0             0              0          Yes        Private          Rural              84.13  26.3     never smoked       0

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5110 entries, 0 to 5109
Data columns (total 12 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   id                 5110 non-null   int64
 1   gender             5110 non-null   object
 2   age                5110 non-null   float64
 3   hypertension       5110 non-null   int64
 4   heart_disease      5110 non-null   int64
 5   ever_married       5110 non-null   object
 6   work_type          5110 non-null   object
 7   Residence_type     5110 non-null   object
 8   avg_glucose_level  5110 non-null   float64
 9   bmi                4909 non-null   float64
 10  smoking_status     5110 non-null   object
 11  stroke             5110 non-null   int64
dtypes: float64(3), int64(4), object(5)
memory usage: 479.2+ KB

In [16]:
for i in df.select_dtypes('object').columns:
    #if len(df[i].unique())<100:
        print(i , "\n\n", df[i].value_counts(dropna = False),"\n","\n","**********************************""\n\n")
        
    #else :
        #print("\n","***",i,"***","\n")

gender

 Female    2994
Male      2115
Other        1
Name: gender, dtype: int64

 **********************************


ever_married

 Yes    3353
No     1757
Name: ever_married, dtype: int64

 **********************************


work_type

 Private          2925
Self-employed     819
children          687
Govt_job          657
Never_worked       22
Name: work_type, dtype: int64

 **********************************


Residence_type

 Urban    2596
Rural    2514
Name: Residence_type, dtype: int64

 **********************************


smoking_status

 never smoked       1892
Unknown            1544
formerly smoked     885
smokes              789
Name: smoking_status, dtype: int64

 **********************************

In [18]:
for i in df.select_dtypes(['int64','float64']).columns:
    if len(df[i].unique())<100:
        print(i , "\n""\n", df[i].value_counts(dropna = False),"\n","\n","**********************************""\n\n")
        
    else :
        print("\n","***",i,"***","\n")

 *** id ***


 *** age ***

hypertension

 0    4612
1     498
Name: hypertension, dtype: int64

 **********************************


heart_disease

 0    4834
1     276
Name: heart_disease, dtype: int64

 **********************************



 *** avg_glucose_level ***


 *** bmi ***

stroke

 0    4861
1     249
Name: stroke, dtype: int64

 **********************************

In [20]:
df = df[df.gender != 'Other']

In [21]:
df.gender.value_counts()

Female    2994
Male      2115
Name: gender, dtype: int64