In [1]:
import numpy as np
import pandas as pd
import seaborn as sns

import matplotlib.pyplot as plt
import warnings
warnings.filterwarnings('ignore')

In [2]:
df = pd.read_csv('android-games.csv')

In [3]:
df.sample(5)

,rank,title,total ratings,installs,average rating,growth (30 days),growth (60 days),price,category,5 star ratings,4 star ratings,3 star ratings,2 star ratings,1 star ratings,paid
1236,11,Bus Simulator: Original,1487303,50.0 M,4,0.1,0.1,0.0,GAME SIMULATION,940898,164202,112902,56945,212354,False
1516,91,Stormfall: Rise of Balur,297722,10.0 M,4,0.0,0.1,0.0,GAME STRATEGY,190869,41354,20387,9399,35710,False
1104,79,Moto Racer 3D,310589,10.0 M,4,1358.2,2716.5,0.0,GAME RACING,194685,34134,34664,14257,32847,False
1478,53,2020: My Country,496584,5.0 M,4,0.2,0.4,0.0,GAME STRATEGY,335371,87414,43397,10356,20044,False
1328,3,Score! Hero,6856324,100.0 M,4,0.5,1.1,0.0,GAME SPORTS,4551071,837222,464347,222878,780804,False

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1730 entries, 0 to 1729
Data columns (total 15 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   rank              1730 non-null   int64
 1   title             1730 non-null   object
 2   total ratings     1730 non-null   int64
 3   installs          1730 non-null   object
 4   average rating    1730 non-null   int64
 5   growth (30 days)  1730 non-null   float64
 6   growth (60 days)  1730 non-null   float64
 7   price             1730 non-null   float64
 8   category          1730 non-null   object
 9   5 star ratings    1730 non-null   int64
 10  4 star ratings    1730 non-null   int64
 11  3 star ratings    1730 non-null   int64
 12  2 star ratings    1730 non-null   int64
 13  1 star ratings    1730 non-null   int64
 14  paid              1730 non-null   bool
dtypes: bool(1), float64(3), int64(8), object(3)
memory usage: 191.0+ KB

In [5]:
df.isnull().sum()

rank                0
title               0
total ratings       0
installs            0
average rating      0
growth (30 days)    0
growth (60 days)    0
price               0
category            0
5 star ratings      0
4 star ratings      0
3 star ratings      0
2 star ratings      0
1 star ratings      0
paid                0
dtype: int64

In [6]:
df.paid.value_counts()

False    1723
True        7
Name: paid, dtype: int64

In [7]:
df.paid.value_counts()

False    1723
True        7
Name: paid, dtype: int64

In [8]:
df.price.unique()

array([0.  , 7.49, 1.99, 2.99, 1.49, 0.99])

Be aware of that ;

- Even though the 'installs' column is given the amount of installation, type of the column in-question is currently object.
- Paid and price columns have basicly same informations in different styles.(Boolen, float)
- It looks like that we don't have missing values (better to check)

In [9]:
df.describe()

,rank,total ratings,average rating,growth (30 days),growth (60 days),price,5 star ratings,4 star ratings,3 star ratings,2 star ratings,1 star ratings
count,1730.000000,1.730000e+03,1730.000000,1730.000000,1730.000000,1730.000000,1.730000e+03,1.730000e+03,1.730000e+03,1.730000e+03,1.730000e+03
mean,50.386705,1.064332e+06,3.908092,321.735896,122.554971,0.010942,7.622315e+05,1.164366e+05,5.706307e+04,2.710336e+04,1.014950e+05
std,28.936742,3.429250e+06,0.290973,6018.914507,2253.891703,0.214987,2.538658e+06,3.021631e+05,1.495314e+05,8.154542e+04,4.083745e+05
min,1.000000,3.299300e+04,2.000000,0.000000,0.000000,0.000000,1.397500e+04,2.451000e+03,7.180000e+02,2.660000e+02,5.450000e+02
25%,25.000000,1.759992e+05,4.000000,0.100000,0.200000,0.000000,1.277300e+05,2.064300e+04,9.652500e+03,4.262250e+03,1.281200e+04
50%,50.000000,4.286065e+05,4.000000,0.500000,1.000000,0.000000,2.964340e+05,5.098050e+04,2.507800e+04,1.067550e+04,3.368600e+04
75%,75.000000,8.837970e+05,4.000000,1.700000,3.300000,0.000000,6.198358e+05,1.018140e+05,5.229500e+04,2.322875e+04,8.015725e+04
max,100.000000,8.627313e+07,4.000000,227105.700000,69441.400000,7.490000,6.354677e+07,5.404966e+06,3.158756e+06,2.122183e+06,1.249592e+07

Be aware of that ;

- There is huge difference between median of rank and the mean. That is most probably because of outliers which come after  max value.
- In the price column, it looks like that we have 0.0 value more than %75 since we have 0.0 as Q1,Q2 and Q3. (might be much more than %75)
- Better to start with changing the dtype of installs column.

In [10]:
#To gather installs in one kind ;

df.installs.value_counts()

10.0 M      805
50.0 M      252
5.0 M       245
100.0 M     204
1.0 M       192
500.0 k      15
500.0 M      12
100.0 k       3
1000.0 M      2
Name: installs, dtype: int64

In [11]:
def in_thousand(install):
    if install == '500.0 k':
        return '0.5 M'
    elif install == '100.0 k':
        return '0.1 M'
    else:
        return install
df['installs'] = df['installs'].apply(in_thousand)
df['installs']= df['installs'].str.replace( 'M', '').str.strip().astype('float')

df= df.rename(columns={'installs': 'installs_in_million'})
df['installs_in_million'].value_counts()

10.0      805
50.0      252
5.0       245
100.0     204
1.0       192
0.5        15
500.0      12
0.1         3
1000.0      2
Name: installs_in_million, dtype: int64

In [12]:
df['price'].value_counts()

0.00    1723
1.99       3
1.49       1
0.99       1
2.99       1
7.49       1
Name: price, dtype: int64

In [13]:
df.paid.value_counts()

False    1723
True        7
Name: paid, dtype: int64

- When we look at the number of each unique values, it doesn't quite make sense to work with the paid values. 
- Since we don't need to have same columns which have the same information, it is an option to drop one of them.

In [14]:
df.drop('price', axis = 1, inplace = True)

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1730 entries, 0 to 1729
Data columns (total 14 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   rank                 1730 non-null   int64
 1   title                1730 non-null   object
 2   total ratings        1730 non-null   int64
 3   installs_in_million  1730 non-null   float64
 4   average rating       1730 non-null   int64
 5   growth (30 days)     1730 non-null   float64
 6   growth (60 days)     1730 non-null   float64
 7   category             1730 non-null   object
 8   5 star ratings       1730 non-null   int64
 9   4 star ratings       1730 non-null   int64
 10  3 star ratings       1730 non-null   int64
 11  2 star ratings       1730 non-null   int64
 12  1 star ratings       1730 non-null   int64
 13  paid                 1730 non-null   bool
dtypes: bool(1), float64(3), int64(8), object(2)
memory usage: 177.5+ KB

In [17]:
df.category.value_counts(normalize=True, ascending = True)

GAME ACTION          0.057803
GAME ROLE PLAYING    0.057803
GAME CASUAL          0.057803
GAME RACING          0.057803
GAME SPORTS          0.057803
GAME ADVENTURE       0.057803
GAME CASINO          0.057803
GAME STRATEGY        0.057803
GAME PUZZLE          0.057803
GAME BOARD           0.057803
GAME MUSIC           0.057803
GAME TRIVIA          0.057803
GAME SIMULATION      0.057803
GAME ARCADE          0.057803
GAME EDUCATIONAL     0.057803
GAME WORD            0.060116
GAME CARD            0.072832
Name: category, dtype: float64